/* You can add global styles to this file, and also import other style files */



@import "~@angular/material/theming";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootstrap";

// Include non-theme styles for core.
@include mat-core();

// Define a theme.
$primary: mat-palette($mat-green);

$mat-custom-theme: (
  50: #eceff1,
  100: #cfd8dc,
  200: #b0bec5,
  300: #90a4ae,
  400: #78909c,
  500: #607d8b,
  600: #546e7a,
  700: #455a64,
  800: #37474f,
  900: #263238,
  A100: #cfd8dc,
  A200: #b0bec5,
  A400: #78909c,
  A700: #455a64,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

// Define a theme.
$primary: mat-palette($mat-green);
$accent:  mat-palette($mat-custom-theme, A200, A100, A400); 

$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);

$gris:#e3e3e3;
$verde:#2e7d32;
$h1_size:1.25rem;
$h2_size:1.15rem;

.h1{
  font-size: $h2_size;
}

.mat-drawer-content{
  // background: url(https://firebasestorage.googleapis.com/v0/b/johan-9cedc.appspot.com/o/hulk-background.jpg?alt=media&token=8fbfbc25-870c-44f5-ad60-e67eda61f8ae);
}

.mat-card, .articulo-card {

    .titulo-secundario {
      color:$verde;
      font-size: 1.15rem;
      font-weight: 600;
    }

    .titulo{
      font-size: 1rem;
      text-align: left;
    }

  .mat-card-header-text{
    margin:0 auto;
  }
  .bg-gray{
    background-color: $gris;
  }
}

.box-form { 
    padding: 3rem 2rem;
    border: 2px solid #e7e7e7;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    .text{
      margin-top: -4.5rem;
      margin-left: 1rem;
      background: #fff;
      width: fit-content;
      padding: 1rem;
      font-size: 0.95rem;
    }
}

.vinculo{
  text-decoration:none;
  color: inherit;
  &:hover{
    color:darkgreen;
    text-decoration: none;
  }
}
.blanco{
  color: white;
}

.green-snackbar{
  background-color: $verde;
  color: white;
}
