/* You can add global styles to this file, and also import other style files */



@import "~@angular/material/theming";
@import "~bootstrap";

// Include non-theme styles for core.
@include mat-core();

// Define a theme.
$primary: mat-palette($mat-green);

$mat-custom-theme: (
  50: #fff3e0,
  100: #ffe0b2,
  200: #ffcc80,
  300: #ffb74d,
  400: #ffa726,
  500: #ff9800,
  600: #fb8c00,
  700: #f57c00,
  800: #ef6c00,
  900: #e65100,
  A100: #ffd180,
  A200: #ffab40,
  A400: #ff9100,
  A700: #ff6d00,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

// Define a theme.
$primary: mat-palette($mat-green);
$accent:  mat-palette($mat-custom-theme, A200, A100, A400); 

$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);

.mat-drawer-content{
  // background: url(https://firebasestorage.googleapis.com/v0/b/johan-9cedc.appspot.com/o/hulk-background.jpg?alt=media&token=8fbfbc25-870c-44f5-ad60-e67eda61f8ae);
}

.mat-card {
  .mat-card-header-text{
    margin:0 auto;
  }
}

.box-form { 
    padding: 3rem 2rem;
    border: 2px solid #e7e7e7;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    .text{
      margin-top: -4.5rem;
      margin-left: 1rem;
      background: #fff;
      width: fit-content;
      padding: 1rem;
      font-size: 0.95rem;
    }
}
